<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Back Bling - Inventory Management System</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <img src="/images/backpack.png" alt="It's a backpack" class="bp_image"/>
                <h1>Back Bling</h1>
                <ul>
                    <li><a href="/signin">Login</a></li>
                    <li><a href="/signup">Signup</a></li>
                    <li><a href="/landingpage">Message Board</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <section class="hero">
        <div class="container">
            <h2>Welcome to Back Bling</h2>
            <p>An inventory management system for all your needs.</p>
            
        </div>
    </section>
    
    <footer>
        <div class="container">
            <p>&copy; 2024 Back Bling. All rights reserved.</p>
        </div>
    </footer>

    <script src="/functions.js"></script>
</body>
</html>