<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Back Bling - Inventory Management System</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <img src="/backpack.png" alt="It's a backpack" class="bp_image"/>
                <h1>Back Bling</h1>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href='/logout'>Logout</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <section class="hero">
        <div class="container">
            <h2>Welcome to Back Bling message board</h2>
            <p>{{prompt}}</p>
        </div>
        <br>
        <div>
            <form action="/message" method="POST" enctype="multipart/form-data">
                <label>Make a post here!</label>
                <br>
                <input type="text" placeholder="Type your message" name="message">
                <input type="file" name="image" accept="image/jpeg, image/png, image/gif"> 
                <input type="submit" value="Post Message">
            </form>
        </div>
        <div>
            <h1>Messages:</h1>
            {% for message in msgs %}
                <div>
                    <p>-----------------------------------</p>
                    <p>Post User: {{message['username']}}</p>
                    <h2>{{message['message']}}</h2>
                    {% if message.image_path %} 
                        <img src="{{ url_for('static', filename=message.image_path) }}" alt="Uploaded image">
                    {% endif %}
                    <br>
                    <form action="/reply" method="POST">
                        <label>Make a reply to message:</label>
                        <br>
                        <input type="text" placeholder="Type your message" name="message">
                        <input type="text" placeholder="id" name="msg_id" value="{{message['_id']}}" hidden>
                        <input type="submit">
                    </form>
                    <br>
                    <h1>Replys</h1>
                    {% for reply in message['replys'] %}
                        <div>
                            <p>Reply User: {{reply['username']}}</p>
                            <h2>{{reply['message']}}</h2>
                        </div>
                        <br>
                    {% endfor %}
                    <br>
                </div>
            {% endfor %}
        </div>
    </section>
    
    <footer>
        <div class="container">
            <p>&copy; 2024 Back Bling. All rights reserved.</p>
        </div>
    </footer>

    <script src="/functions.js"></script>
</body>
</html>
