{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Back Bling - Inventory Management System</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <img src="{% static 'backpack.png' %}" alt="It's a backpack" class="bp_image"/>
                <h1>Back Bling</h1>
                <ul>
                    <li><a href="{% url 'signin' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Signup</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <section class="hero">
        <div class="container">
            <h2>Welcome to Back Bling</h2>
            <p>An inventory management system for all your needs.</p>
        </div>
    </section>

    <h1>Add Product</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Product</button>
    </form>
    
    <footer>
        <div class="container">
            <p>&copy; 2024 Back Bling. All rights reserved.</p>
        </div>
    </footer>

    <script src="{% static 'functions.js' %}"></script>
</body>
</html>
