{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Inventory Management System</title>
    <link rel="stylesheet" href="{% static 'sign.css' %}">
</head>
<body>
    <h1>Sign Up</h1>
    <form action="{% url 'signup' %}" method="post">
        
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password1">Password:</label>
        <input type="password" id="password1" name="password1" required><br><br>
        <label for="password2">Confirm Password:</label>
        <input type="password" id="password2" name="password2" required><br><br>
        <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="{% url 'signin' %}">Sign In</a></p>
    <p> Go Back ? <a href= "{% url 'index' %}">Home Page </a></p>

    <script src="{% static 'functions.js' %}"></script>
</body>
</html>
